@font-face {
    font-family: 'Geologica_Cursive-Regular';
    src: url('/fonts/Geologica_Cursive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica_Cursive-SemiBold';
    src: url('/fonts/Geologica_Cursive-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Geologica_Cursive-Regular', sans-serif;
    background: #fff;
}

.container {
    width: 1280px;
    margin: 0 auto;
    background: #fff;
}

.topbar {
    background: #fff;
    padding: 16px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-btn {
    display: inline-flex
}

.logo-img {
    height: 32px;
    width: 100%;
    object-fit: contain;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 40px
}

.blue {
    font-family: 'Geologica_Cursive-SemiBold';
    padding: 16px 24px;
    border: none;
    outline: none;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none !important;
    background: #423F8C;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active {
    cursor: pointer;
    background-color: #7876A7;
}

.blue:hover,
.blue:focus,
.blue:active {
    cursor: pointer;
    background-color: #7876A7 !important;
    color: #fff !important;
    opacity: 1 !important;
    border: none !important;
    outline: none !important;
}

.acid {
    font-family: 'Geologica_Cursive-SemiBold';
    padding: 16px 24px;
    border: none;
    outline: none;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none !important;
    background: #C0D904;
    color: #111;
}

    .acid:hover,
    .acid:focus,
    .acid:active {
        cursor: pointer;
        background: #E5F280 !important;
        color: #111 !important;
        >>>>>>> Stashed changes opacity: 1 !important;
        border: none !important;
        outline: none !important;
    }

.google-acid {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C0D904;
    overflow: hidden;
}

    .google-acid:hover,
    .google-acid:focus,
    .google-acid:active {
        background: #E5F280 !important;
        cursor: pointer;
    }

    .google-acid img {
        background: 0%;
        width: 24px;
        height: 24px;
        fill: black;
        filter: drop-shadow(100px 0 0 black) !important;
        transform: translateX(-100px);
    }

.google {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #423F8C;
}

    .google:hover,
    .google:focus,
    .google:active {
        background-color: #7876A7 !important;
        cursor: pointer;
    }

    .google img {
        background: 0%;
        width: 24px;
        height: 24px;
    }

.smallest {
    min-width: 117px !important;
    max-width: 117px !important;
}

.little {
    min-width: 180px !important;
    max-width: 180px !important;
}

.medium {
    min-width: 205px !important;
    max-width: 205px !important;
}

.big {
    min-width: 290px !important;
    max-width: 290px !important;
}

.centralize {
    display: inline-flex !important;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.hero {
    position: relative;
    background: #0D1326;
    height: 480px;
}

.hero-bg-word {
    position: absolute;
    width: 100%;
    height: 75%;
}

.hero-content {
    position: absolute;
    margin: 0px;
    padding: 232px 17.2%;
    color: #fff
}

    .hero-content h1 {
        font-size: 40px;
        line-height: 1.05;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }

    .hero-content p {
        margin-top: -24px;
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }

.search-panel {
    position: absolute;
    background: #0D1326;
    bottom: -100px;
    left: 17%;
    right: 17%;
    border-radius: 16px;
    min-height: 190px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.search-row {
    background: #423F8C;
    position: relative;
    align-items: center;
    align-self: center;
    border-radius: 999px;
    display: flex;
    height: 48px;
    width: 100%;
    margin: 0px;
    justify-content: flex-start;
}

    .search-row input {
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
        font-size: 16px;
        width: 70%;
    }

        .search-row input::placeholder {
            color: #ddd
        }

.icon {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 32px;

}

.dropdown {
    border: none !important;
}

    .dropdown img {
        position: absolute;
        width: 14px;
        height: 8px;
        right: -8px;
        top: -3px;
    }

.full {
    width: 100%;
    margin-bottom: 32px;
}

.search-bottom {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 0;
    gap: 32px;
    align-items: center;
    justify-content: center;
}


.popular {
    padding-top: 120px;
    align-items: center;
    justify-content: center;
}

.popular-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 40px;
}

.popular h2 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

.popular p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.more-popular {
    width: 290px;
    margin-bottom: 32px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: center;
    gap: 32px;
}

.card {
    width: 290px;
    height: 378px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border: none;
}

    .card img {
        width: 290px;
        height: 290px;
        object-fit: cover;
        border-radius: 16px;
    }

.card-info {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

    .card-info h3 {
        margin-top: 8px;
        font-family: 'Geologica_Cursive-SemiBold';
        font-size: 16px;
    }

    .card-info p {
        font-family: 'Geologica_Cursive-Regular';
        font-size: 16px;
    }

.card-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-rating {
    display: flex;
    gap: 8px;
    flex: 1;
}

    .card-rating img {
        width: 16px;
        height: 16px;
        border-radius: 0;
    }

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .rating img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        border-radius: 0;
    }

.review {
    margin-left: 0px !important;
    margin-top: -16px !important;
}

.card-price {
    font-family: 'Geologica_Cursive-SemiBold';
    margin-left: auto;
    font-size: 16px;
    white-space: nowrap;
}

.card,
.card-footer,
.card-info {
    border: none !important;
    box-shadow: none !important;
    background: none;
}

    .card-info h3,
    .card-info p {
        margin-left: 0;
        padding-left: 0;
    }

.card-footer {
    padding-left: 0;
    margin-left: 0;
}

.card-empty {
    height: 378px;
    width: 290px;
    border-radius: 16px;
    background: linear-gradient( 135deg, #A88962, #ECE5d8 ) !important;
}
    .card-empty:hover {
        cursor: pointer;
    }

.card-image-placeholder {
    width: 100%;
    height: 100%;
    background: #A88962;
}

    .card-image-placeholder:hover {
        cursor: pointer;
    }


.register-page {
    width: 100%;
    display: flex;
    background: #fff;
    display: flex;
    align-items: center;
}

.register-left {
    width: 53%;
    min-height: 100vh;
    background: #0D1326;
    position: relative;
    clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.win-bg-word-left {
}

.login-box {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

    .login-box h2 {
        font-size: 24px;
    }

    .login-box p {
        font-size: 16px;
        margin-bottom: 48px;
    }


.register-right {
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 70px 32px;
}

.register-form-wrap {
    width: 500px;
}

    .register-form-wrap h1 {
        text-align: center;
        font-size: 24px;
    }

    .register-form-wrap p {
        font-size: 16px;
    }


.subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 28px;
    color: #222;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px
}

    .two-cols .field input {
        min-width: 0;
    }

.field label {
    display: block;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px
}

.field input {
    font-family: 'Geologica_Cursive-Regular';
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 999px;
    padding: 0 24px;
    background: #7776A6;
    color: #fff;
    font-size: 16px;
    outline: none;
    min-width: 480px;
}

    .field input::placeholder {
        color: #fff;
    }

input:-webkit-autofill {
    font-family: 'Geologica_Cursive-Regular', sans-serif !important;
    text-decoration: none !important;
    -webkit-box-shadow: #7776A6 !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 9999s ease-in-out 0s;
    caret-color: #ffffff;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

    .password-wrapper input {
        width: 100%;
        padding-right: 50px;
    }

.password-toggle {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .password-toggle img {
        width: 24px;
        height: 100%;
    }


.input-validation-error,
.input-error {
    background-color: #BF0413 !important;
}

.error-text {
    color: #BF0413;
    font-size: 16px;
    width: 100% !important;
    list-style: none !important;
    display: inline-block !important;
    margin-top: 8px;
    white-space: normal;
}

    .error-text ul,
    .error-text li {
        list-style: none !important;
    }


.check-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

    .check-row input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }

    .check-row span {
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;
        font-size: 16px;
    }

        .check-row span::before {
            content: "";
            width: 24px;
            height: 24px;
            border: 3px solid #0D1326;
            border-radius: 50%;
            background: #D9D9D9;
            flex-shrink: 0;
        }

        .check-row span::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 5px;
            width: 7px;
            height: 14px;
            border: solid #0D1326;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            opacity: 0;
        }

    .check-row input[type="checkbox"]:checked + span::after {
        opacity: 1;
    }

.passport-upload {
    color: #433FA0;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

    .passport-upload:hover {
        cursor: pointer;
    }

.check-row a {
    color: #433FA0;
    text-decoration: underline;
}

.checkbox-error a {
    color: #BF0413;
}

.checkbox-error span {
    color: #BF0413;
    text-decoration: #BF0413;
}

    .checkbox-error span::before {
        border-color: #BF0413 !important;
    }

.checkbox-error input[type="checkbox"]:checked + span::after {
    border-color: #BF0413;
}

.final-check {
    width: 100%;
    height: 100%;
    margin: 0;
    top: -8px;
}


.social-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

.login-page {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.login-right {
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 70px 32px;
}

.login-left {
    width: 50%;
    height: 100%;
    background: #0F162A;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box {
    position: relative;
    text-align: center;
    color: #fff;
}

    .register-box h2 {
        font-size: 24px;
    }

    .register-box p {
        font-size: 16px;
        margin-bottom: 48px;
    }

.login-form-wrap {
    width: 550px;
}

    .login-form-wrap h1 {
        font-size: 24px;
        position: relative;
        text-align: center;
    }

.forgot-password {
    margin-left: auto;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 16px;
    color: #433FA0;
    text-decoration: underline;
}

.submit-btn {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.overlap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 8px;
    gap: 16px;
}

    .overlap .error-text {
        margin: 0px;
        width: auto !important;
        flex: 1;
        text-align: left;
    }

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.validation-summary-errors li {
    margin: 0;
}

.add-property-page {

}

    .add-property-page.field input {
        margin-top: 16px;
    }

.create-property-page {
    background: #fff;
}

    .create-property-page h1 {
        font-size: 56px;
        margin-bottom: 24px;
        margin-top: 64px;
    }

    .create-property-page h3 {
        font-size: 24px;
        margin-top: 16px;
        margin-bottom: -8px;
    }

    .create-property-page p {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

.gray {
    width: 400px;
    height: 48px;
    display: flex;
    border: none;
    border-radius: 999px;
    padding: 0 32px;
    background: #D9D9D9;
    color: #423F8C;
    align-items: center;
    text-align: left;
    font-size: 16px;
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.rows-check {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 24px;
    gap: 72px;
}
    .rows-check .check-row span::before {
        width: 30px !important;
        height: 30px !important;
        min-width: 30px !important;
        min-height: 30px !important;
        border-width: 3px;
    }


    .rows-check .check-row span::after {
        width: 8px !important;
        height: 16px !important;
        left: 11px !important;
        top: 5px !important;
        border-width: 0 3px 3px 0;
    }


    .rows-check .check-row span {
        font-size: 18px;
        gap: 12px;
    }

.add-object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 64px;
}

    .add-object .field input {
        min-width: 0 !important;
        width: 400px !important;
    }

.chips {
    align-content: start;
    gap: 16px;
    margin-top: 16px;
}

.toggle-btn {
    font-family: 'Geologica_Cursive-Regular';
    display: flex;
    width: auto;
    height: 48px;
    border: none;
    border-radius: 999px;
    padding: 0 24px;
    background: #7776A6;
    color: #D9D9D9;
    align-items: center;
    text-align: left;
    font-size: 16px;
    outline: none;
}

    .toggle-btn.active {
        background: #423F8C;
    }

    .s{
        min-width: 128px;
        max-width: 128px;
    }
    .m {
        min-width: 224px;
        max-width: 224px;
    }
    .l {
        min-width: 320px;
        max-width: 320px;
    }

.ameniries-div {
    margin-top: 16px;
    margin-bottom: 32px;
}

.ameniries {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 16px;
}

    .ameniries img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 8px;
    }

.location {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 32px;
    margin-top: 16px;
}
    .location .field input {
        width: 100%;
        min-width: 0;
    }

    .location > .field {
        min-width: 0;
        width: 100%;
    }

        .location > .field input {
            width: 100%;
            min-width: 0;
            max-width: 100%;
            box-sizing: border-box;
        }

.big-field {
    font-family: 'Geologica_Cursive-Regular';
    width: 100%;
    height: 290px;
    min-height: 120px;
    display: flex;
    border: none;
    border-radius: 12px;
    background: #7776A6;
    color: #fff;
    padding: 8px 32px;
    font-size: 16px;
    outline: none;
    margin-bottom: 32px;
    margin-top: 24px;
}

textarea::placeholder {
    font-family: 'Geologica_Cursive-Regular';
    color: #fff;
}

.guests-row {
    margin-top: 16px;
    display: flex;
    gap: 40px;
}

.guest-input input {
    min-width: 0 !important;
    width: 400px !important;
    background-color: #423F8C;
}

.map {
    height: 290px;
    width: 1280px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.counter {
    display: flex;
    height: 48px;
    border-radius: 999px;
    overflow: hidden;
    background: #D9D9D9;
}

    .counter button {
        width: 48px;
        height: 48px;
        border: none;
        background: #D9D9D9;
        font-size: 18px;
        color: #423F8C;
        cursor: pointer;
    }

    .counter span {
        width: 72px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #423F8C;
        color: white;
        font-size: 20px;
    }


.photo-section {
    margin: 32px 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
}

.photo-upload,
.photo-slot {
    height: 290px;
    border-radius: 16px;
    background: #d9d9d9;
    overflow: hidden;
    cursor: pointer;
}

.photo-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 290px;
}

.upload-content {
    text-align: center;
    color: #423F8C;
}

.upload-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.photo-slot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #423F8C;
}

    .photo-slot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo-slot span {
        font-family: 'Geologica_Cursive-Regular', sans-serif !important;
        font-size: 16px;
        padding: 16px;
        text-align: center;
    }

    .photo-slot.filled span {
        display: none;
    }


.photo-slot {
    position: relative;
}

    .photo-slot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.remove-photo {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border: none;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    background: #D9D9D9;
}

    .remove-photo:hover {
        background: #A3A3A3;
    }

.moderation-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D1326;
}

.background-word {
    position: absolute;
    width: 100vw;
    height: 100%;
}

.moderation-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .moderation-content h1 {
        margin: 0;
        color: #fff;
        font-size: 56px;
        font-weight: 500;
        line-height: 120%;
    }

    .moderation-content p {
        margin-top: 8px;
        margin-bottom: 50px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
    }

.moderation-actions {
    display: flex;
    gap: 64px;
}
    .moderation-actions a {
        width: 340px !important;
        max-width: 340px !important;
    }

@media(max-width:1200px) {
    .hero-content, .search-panel {
        left: 40px;
        right: 40px
    }

        .hero-content h1 {
            font-size: 44px
        }

    .hero-bg-word {
        font-size: 180px
    }

    .cards {
        grid-template-columns: repeat(2,1fr)
    }
}

@media(max-width:1200px) {
    .register-page {
        flex-direction: column
    }

    .register-left, .register-right {
        width: 100%;
        min-height: auto
    }

    .register-left {
        height: 340px;
        clip-path: none
    }

    .left-overlay-word {
        font-size: 320px
    }

    .register-right {
        padding: 40px 20px
    }
}

@media(max-width:1200px) {

    .login-left {
        display: none;
    }

    .login-right {
        width: 100%;
    }

    .login-form-wrapper {
        margin-right: 0;
        padding: 40px;
    }
}
