@font-face {
    font-family: 'Geologica_Cursive-Regular';
    src: url('/fonts/Geologica_Cursive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica_Cursive-SemiBold';
    src: url('/fonts/Geologica_Cursive-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Geologica_Cursive-Regular', sans-serif;
    background: #f3f3f3;
    color: #111;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.topbar {
    background: #fff;
    padding: 16px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-btn {
    display: inline-flex
}

.logo-img {
    height: 32px;
    width: 100%;
    object-fit: contain;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 40px
}

.blue {
    font-family: 'Geologica_Cursive-SemiBold';
    padding: 16px 24px;
    border: none;
    outline: none;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none !important;
    background: #423F8C;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active {
    cursor: pointer;
    background-color: #7876A7;
}

.blue:hover, .blue:focus, .blue:active {
    cursor: pointer;
    background-color: #7876A7 !important;
    color: #fff !important;
    opacity: 1 !important;
    border: none !important;
    outline: none !important;
}

.acid {
    font-family: 'Geologica_Cursive-SemiBold';
    padding: 16px 24px;
    border: none;
    outline: none;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none !important;
    background: #C0D904;
    color: #111;
}

    .acid:hover,
    .acid:focus,
    .acid:active {
        cursor: pointer;
        background: #E5F280 !important;
        color: #111 !important;
        >>>>>>> Stashed changes opacity: 1 !important;
        border: none !important;
        outline: none !important;
    }

.google-acid {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C0D904;
    overflow: hidden;
}

    .google-acid:hover,
    .google-acid:focus,
    .google-acid:active {
        background: #E5F280 !important;
        cursor: pointer;
    }

    .google-acid img {
        background: 0%;
        width: 24px;
        height: 24px;
        fill: black;
        filter: drop-shadow(100px 0 0 black) !important;
        transform: translateX(-100px);
    }

.google {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #423F8C;
}

    .google:hover,
    .google:focus,
    .google:active {
        background-color: #7876A7 !important;
        cursor: pointer;
    }

    .google img {
        background: 0%;
        width: 24px;
        height: 24px;
    }

.smallest {
    min-width: 117px !important;
    max-width: 117px !important;
}

.little {
    min-width: 180px !important;
    max-width: 180px !important;
}

.medium {
    min-width: 205px !important;
    max-width: 205px !important;
}

.big {
    min-width: 290px !important;
    max-width: 290px !important;
}

.centralize {
    display: inline-flex !important;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.hero {
    position: relative;
    background: #0D1326;
    height: 380px;
}

.hero-bg-word {
    position: absolute;
    width: 100%;
    height: 75%;
}

.hero-content {
    position: absolute;
    margin: 0px;
    padding: 170px 17.2%;
    color: #fff
}

    .hero-content h1 {
        font-size: 40px;
        line-height: 1.05;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }

    .hero-content p {
        margin-top: -24px;
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }

.search-panel {
    position: absolute;
    background: #0D1326;
    bottom: -100px;
    left: 17%;
    right: 17%;
    border-radius: 16px;
    min-height: 190px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.search-row {
    background: #423F8C;
    position: relative;
    align-items: center;
    align-self: center;
    border-radius: 999px;
    display: flex;
    height: 48px;
    width: 100%;
    margin: 0px;
    justify-content: flex-start;
}

    .search-row input {
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
        font-size: 16px;
        width: 70%
    }

        .search-row input::placeholder {
            color: #ddd
        }

.icon {
    width: 24px;
    height: 24px;
    margin: 0 16px;
}

.dropdown {
    border: none !important;
}

    .dropdown img {
        position: absolute;
        width: 14px;
        height: 8px;
        right: -5px;
        top: -3px;
    }

.full {
    width: 100%;
    margin-bottom: 32px;
}

.search-bottom {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 0;
    gap: 32px;
    align-items: center;
    justify-content: center;
}


.popular {
    padding-top: 120px;
    align-items: center;
    justify-content: center;
}

.popular-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 40px;
}

.popular h2 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

.popular p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.more-popular {
    padding: 14px 20px;
    font-size: 13px;
    max-width: 225px;
    min-width: 225px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.card {
    height: 280px;
    width: 225px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(135deg,#a88962,#ece5d8)
}


.register-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #ffffff;
}

.register-left {
    width: 53%;
    min-height: 100vh;
    background: #0D1326;
    position: relative;
    clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.win-bg-word-left {
}

.login-box {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

    .login-box h2 {
        font-size: 24px;
    }

    .login-box p {
        font-size: 16px;
        margin-bottom: 48px;
    }


.register-right {
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 70px 32px;
}

.register-form-wrap {
    width: 500px;
}

    .register-form-wrap h1 {
        text-align: center;
        font-size: 24px;
    }

    .register-form-wrap p {
        font-size: 16px;
    }


.subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 28px;
    color: #222;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px
}

    .two-cols .field input {
        min-width: 0;
    }

.field label {
    display: block;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px
}

.field input {
    font-family: 'Geologica_Cursive-Regular';
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 999px;
    padding: 0 24px;
    background: #7776A6;
    color: #D9D9D9;
    font-size: 16px;
    outline: none;
    min-width: 480px;
}

    .field input::placeholder {
        color: #D9D9D9
    }

input:-webkit-autofill {
    font-family: 'Geologica_Cursive-Regular', sans-serif !important;
    text-decoration: none !important;
    -webkit-box-shadow: #7776A6 !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 9999s ease-in-out 0s;
    caret-color: #ffffff;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

    .password-wrapper input {
        width: 100%;
        padding-right: 50px;
    }

.password-toggle {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .password-toggle img {
        width: 24px;
        height: 100%;
    }


.input-validation-error,
.input-error {
    background-color: #BF0413 !important;
}

.error-text {
    color: #BF0413;
    font-size: 16px;
    width: 100% !important;
    list-style: none !important;
    display: inline-block !important;
    margin-top: 8px;
    white-space: normal;
}

    .error-text ul,
    .error-text li {
        list-style: none !important;
    }


.check-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

    .check-row input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }

    .check-row span {
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;
        font-size: 16px;
    }

        .check-row span::before {
            content: "";
            width: 24px;
            height: 24px;
            border: 3px solid #0D1326;
            border-radius: 50%;
            background: #D9D9D9;
            flex-shrink: 0;
        }

        .check-row span::after {
            content: "";
            position: absolute;
            left: 9px;
            top: 4px;
            width: 7px;
            height: 14px;
            border: solid #0D1326;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            opacity: 0;
        }

    .check-row input[type="checkbox"]:checked + span::after {
        opacity: 1;
    }

.passport-upload {
    color: #433FA0;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

    .passport-upload:hover {
        cursor: pointer;
    }

.check-row a {
    color: #433FA0;
    text-decoration: underline;
}

.checkbox-error a {
    color: #BF0413;
}

.checkbox-error span {
    color: #BF0413;
}

    .checkbox-error span::before {
        border-color: #BF0413 !important;
    }

.checkbox-error input[type="checkbox"]:checked + span::after {
    border-color: #BF0413;
}

.final-check {
    width: 100%;
    height: 100%;
    margin: 0;
    top: -8px;
}


.social-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

.login-page {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.login-right {
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 70px 32px;
}

.login-left {
    width: 50%;
    height: 100%;
    background: #0F162A;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box {
    position: relative;
    text-align: center;
    color: #fff;
}

    .register-box h2 {
        font-size: 24px;
    }

    .register-box p {
        font-size: 16px;
        margin-bottom: 48px;
    }

.login-form-wrap {
    width: 550px;
}

    .login-form-wrap h1 {
        font-size: 24px;
        position: relative;
        text-align: center;
    }

.forgot-password {
    margin-left: auto;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 16px;
    color: #433FA0;
    text-decoration: underline;
}

.submit-btn {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.overlap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 8px;
    gap: 16px;
}

    .overlap .error-text {
        margin: 0px;
        width: auto !important;
        flex: 1;
        text-align: left;
    }

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.validation-summary-errors li {
    margin: 0;
}


@media(max-width:1200px) {
    .hero-content, .search-panel {
        left: 40px;
        right: 40px
    }

        .hero-content h1 {
            font-size: 44px
        }

    .hero-bg-word {
        font-size: 180px
    }

    .cards {
        grid-template-columns: repeat(2,1fr)
    }
}

@media(max-width:1200px) {
    .register-page {
        flex-direction: column
    }

    .register-left, .register-right {
        width: 100%;
        min-height: auto
    }

    .register-left {
        height: 340px;
        clip-path: none
    }

    .left-overlay-word {
        font-size: 320px
    }

    .register-right {
        padding: 40px 20px
    }
}

@media(max-width:1200px) {

    .login-left {
        display: none;
    }

    .login-right {
        width: 100%;
    }

    .login-form-wrapper {
        margin-right: 0;
        padding: 40px;
    }
}
